.App {
  text-align: center;
  min-width: 700px;


 }


 .App-header {
  background-color: #282c34;
  padding: 20px;
  padding-bottom: 50px;

 }


 @media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }


 }
 /* .search-bar {
  display: inline;
  width: 30%;




 } */




 /* .search-bar form {
  flex-direction: column;
 } */


 /* input{
  width: 70%;




 } */


 button{
  width: 30%;
 }


 .movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  border: 3px solid blue;
  height: 100%;
  /* background: linear-gradient(to right, blue, black); */

 }


 .App-footer{
  justify-content: center;
  display: flex;
  border: 3px solid red;
  height: 100%;
  width: 100%;




 }


 .title{
  color: white


 }


 .controls-row{
  display: flex;
  justify-content:space-between;
 }


 .search-section{
  margin-right: 80px;
 }


 .load-more button{
  width: 15%;
  height: 7vh;
  border-radius: 10px;
  background-color: green;
 }

 .load-more{
  background: linear-gradient(to right, blue, black);

 }
