.search-section{
    width: 40%;
    display: flex;




 }




 input{
    width: 20vw;
    height: 100%;
    margin-left: 40px;
 }


 .search-button{
    width: 15vw;
    height: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    height : 130%;
 }


 .clear-button{
    width: 15vw;
    height: 130%
 }


